@tailwind base;
@tailwind components;
@tailwind utilities;





@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 768px) {
  body {
    @apply touch-pan-y overscroll-none;
  }
  
  #root {
    @apply h-full overflow-auto scrollbar-hide;
  }
}